<h3>Add a new document:</h3>
<form method="post" action="/new">
  <div>
    <input type="text" name="file_name" placeholder='File Name'>
    <button type="submit">Create File</button>
  </div>
</form>